.selected {
    fill: #FFAADD;
    fill-opacity: 0.8;
}

.selected:hover {
    fill: #BBBBBB;
    fill-opacity: 0.8;
}

.selectable {
    fill: #BBBBBB;
    fill-opacity: 0.8;
}

.selectable:hover {
    fill: #FFAADD;
    fill-opacity: 0.8;
}

.d3-note-marker-text {
    pointer-events: none;
}

.d3-note-marker-text > text {
    fill: #000000;
    font-family: "Monospace";
    font-size: 10pt;
    text-anchor: middle;
    dominant-baseline: middle;
}

.d3-string-notes > text {
    fill: #000000;
    font-family: "Monospace";
    font-size: 10pt;
    text-anchor: middle;
    dominant-baseline: middle;
}

.d3-fret-numbers {
    fill: #000000;
    font-family: "Monospace";
    font-size: 10pt;
    text-anchor: middle;
}